# Operators

### Arithmatics Operators
- addition(+)
- subtraction(-)
- multiplication(*)
- division(/)
- exponential(**)
- modulus(%)
- integer division(//)

In [2]:
x = 10  #addition
y = 20
x + y

30

In [3]:
x = 45  #subtraction
y = 34
z = x - y
print(z)

11

In [4]:
x = 23 #multipication
y = 41
z = x * y
print(z)

943

In [5]:
x = 55 #division
y = 5
z = x / y 
print(z)

11.0

In [9]:
x = 2 #exponential
y = 4
z = x ** y
print(z)

16

In [10]:
x = 55 #modulo
y = 10
x % y

5

In [11]:
x = 55 #integer division
y = 6
x // y

9

### Assignment operators
- assignment(=)
- addition assignment(+=)
- subtraction assignment(-=)
- multiplication assignment(*=)
- division assignment(/=)
- exponential assignment(**=)
- modulus assignment(%=)
- integer division assignment(//=)

In [4]:
a = 10
b = 3
name = 'Uqba'

In [6]:
a += 5
b -= a

In [12]:
x = 10   #addition assignment
x += 2
print(x)

12

In [13]:
x -= 2   #subraction assignment
print(x)

10

In [14]:
x *= 5   #multiplication assignment
print(x)

50

In [15]:
x /= 4   #division assignment
print(x)

12.5

In [17]:
x **= 2 #exponential assignment
print(x)

156.25

In [18]:
x %= 2   #modulus assignment
print(x)

0.25

In [19]:
x = 15 #integer division assignment
x //= 3
print(x)

5

### Comparison Operators
- equal to (=)
- not equal to (!=)
- greater than(>)
- less than (<)
- greater than or equal to (>=)
- less than or equal to (<=)

In [7]:
a == b

False

In [8]:
a == 34

False

In [10]:
a == 20

True

In [11]:
len(name) == 4

True

In [12]:
a <= b

False

In [13]:
a >= b

True

In [20]:
x = 23 #equal to (=)

In [21]:
y = 21  #not equal to
x != y

True

In [23]:
x > y #greater than

True

In [22]:
x >= y #greater tha and equal to

True

In [24]:
x < y #less than

False

In [25]:
x <= y #less than and equal to

False

### Integer

In [1]:
x = 1

In [2]:
type(x)

int

In [3]:
b = 45 ** 2
type(b),b

(int, 2025)

### Float

In [5]:
z = 87.7e100
type(z)

float

In [7]:
z = 35.56
print(type(z))

<class 'float'>

### String

In [8]:
name = "Uqba Ahmad"
color = 'Black'

In [9]:
type(name)
type(color)

str

In [10]:
print(name)

Uqba Ahmad

In [11]:
#multiline 
summary = '''Once upon a time a lion lives in a jungle for a very long time and he rule over the other animals
but now he is old to rule the jungle'''

In [12]:
print(summary)

Once upon a time a lion lives in a jungle for a very long time and he rule over the other animals
but now he is old to rule the jungle

### None type

In [13]:
color = None
print(color, type(color))

None <class 'NoneType'>

In [14]:
list = ["hello", True, 12, 4.5, False]    #List #we add and remove data

In [15]:
print(list)

['hello', True, 12, 4.5, False]

In [16]:
tuple = ("hello", True, 12, 4.5, False)   #tuple # we didn't add or remove value from the list
print(type(tuple), tuple)

<class 'tuple'> ('hello', True, 12, 4.5, False)

In [18]:
#set duplicate automatically remove from the set
a = {"hello", True, 12, 4.5, False, 12}
print(type(a), a)

<class 'set'> {False, True, 4.5, 'hello', 12}

In [1]:
# Dictionaries               Easliy append and pop in dict
car_info = {"brand": "ford", "model":"Mustang", "year": 1964}
print(car_info)

{'brand': 'ford', 'model': 'Mustang', 'year': 1964}