In [1]:
x = 'PYTHON'
for i in x:
    print(i)

P
Y
T
H
O
N

In [8]:
story = "Once upon a time"
for char in story:
    print(char, end = '')

Once upon a time

In [7]:
names = ['Alice', 'Bob', 'charlie', 'David', 'Eve', 'Frank']
for name in names:
    print(name, len(name))

Alice 5
Bob 3
charlie 7
David 5
Eve 3
Frank 5

In [9]:
fruits = ["Apple", "Lichi", "Pineapple", "Mango"]
for item in fruits:
    print(f'i have {item}')

i have Apple
i have Lichi
i have Pineapple
i have Mango

In [10]:
for i in range(6):
    print(f'you got point{i}')

you got point0
you got point1
you got point2
you got point3
you got point4
you got point5

In [11]:
for i in range(10):
    print('You got point', i)

You got point 0
You got point 1
You got point 2
You got point 3
You got point 4
You got point 5
You got point 6
You got point 7
You got point 8
You got point 9

In [12]:
for num in range(2,11):
    print('Sheep', num)

Sheep 2
Sheep 3
Sheep 4
Sheep 5
Sheep 6
Sheep 7
Sheep 8
Sheep 9
Sheep 10

In [13]:
for num in range(1, 10, 3):
    print("Level", num)

Level 1
Level 4
Level 7

In [14]:
# Reverse Loop
for num in range(10, 5, -1):
    print(num)

10
9
8
7
6

In [16]:
# pattern loop
for i in range(10):
    print(i * "*")

*
**
***
****
*****
******
*******
********
*********

In [18]:
for i in range(7):
    print(i * "NA")

NA
NANA
NANANA
NANANANA
NANANANANA
NANANANANANA

### Write a program to calculate the total of all numbers from 1 to 50

In [22]:
total = 0
for i in range(1, 51):
    total += i
print(total)

1275

In [28]:
total = 0
for i in range(1, 100):
    if i % 3 == 0:
        total += i
print(total)

1683

In [29]:
total = 0
for i in range(3, 100, 3):
    total += 1
print(total)

33

### wap to calculate the average(mean) of all numbers from 1 to 100

In [2]:
total = 0
for i in range(1, 100):
    total += i
mean = total / 99
print(mean)

50.0

In [1]:
total = 1
for i in range(1, 100):
    total += i
mean = total / 99
print(mean)

50.01010101010101