In [1]:
x = 'PYTHON'
for i in x:
    print(i)

P
Y
T
H
O
N

In [8]:
story = "Once upon a time"
for char in story:
    print(char, end = '')

Once upon a time

In [7]:
names = ['Alice', 'Bob', 'charlie', 'David', 'Eve', 'Frank']
for name in names:
    print(name, len(name))

Alice 5
Bob 3
charlie 7
David 5
Eve 3
Frank 5

In [9]:
fruits = ["Apple", "Lichi", "Pineapple", "Mango"]
for item in fruits:
    print(f'i have {item}')

i have Apple
i have Lichi
i have Pineapple
i have Mango

In [10]:
for i in range(6):
    print(f'you got point{i}')

you got point0
you got point1
you got point2
you got point3
you got point4
you got point5

In [11]:
for i in range(10):
    print('You got point', i)

You got point 0
You got point 1
You got point 2
You got point 3
You got point 4
You got point 5
You got point 6
You got point 7
You got point 8
You got point 9

In [12]:
for num in range(2,11):
    print('Sheep', num)

Sheep 2
Sheep 3
Sheep 4
Sheep 5
Sheep 6
Sheep 7
Sheep 8
Sheep 9
Sheep 10

In [13]:
for num in range(1, 10, 3):
    print("Level", num)

Level 1
Level 4
Level 7

In [14]:
# Reverse Loop
for num in range(10, 5, -1):
    print(num)

10
9
8
7
6

In [16]:
# pattern loop
for i in range(10):
    print(i * "*")

*
**
***
****
*****
******
*******
********
*********

In [18]:
for i in range(7):
    print(i * "NA")

NA
NANA
NANANA
NANANANA
NANANANANA
NANANANANANA

### Write a program to calculate the total of all numbers from 1 to 50

In [22]:
total = 0
for i in range(1, 51):
    total += i
print(total)

1275

In [28]:
total = 0
for i in range(1, 100):
    if i % 3 == 0:
        total += i
print(total)

1683

In [29]:
total = 0
for i in range(3, 100, 3):
    total += 1
print(total)

33

### wap to calculate the average(mean) of all numbers from 1 to 100

In [2]:
total = 0
for i in range(1, 100):
    total += i
mean = total / 99
print(mean)

50.0

In [1]:
total = 1
for i in range(1, 100):
    total += i
mean = total / 99
print(mean)

50.01010101010101

In [2]:
# a complex program
n = 10

# initialize sum and counter
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i + i + 1      #update counter
    break
# print the  sum
print("The sum is", sum)

In [1]:
x = 1
while x < 5:
    print("run")
    x += 1
print("stop")

run
run
run
run
stop

In [1]:
data = [1, 2, 3, 4, 5, -1, 3, 4, 5]

for i in data:
    if i < 0:
        break
    print(i, end = ' ')

1 2 3 4 5

In [2]:
for i in range(1, 100):
    print(i)
    if i % 5 == 0:
        break

1
2
3
4
5

In [3]:
size = 100
start= 1

while start <= size:
    name = input("enter a name of product")
    if name == "end":
        break
    print(f"you entered {name}")
    start += 2

print("The end")

you entered henry
The end

In [4]:
name = ["Alice", "Bob", " ", " Charlie", " ", "Eve", " Frank"]
print(len(name))

7

In [5]:
for names in name:
    print(f'i know{names}')

i knowAlice
i knowBob
i know
i know Charlie
i know
i knowEve
i know Frank

In [6]:
for names in name:
    if name == ' ':
        continue
    print(f'i know{names}')

i knowAlice
i knowBob
i know
i know Charlie
i know
i knowEve
i know Frank

In [8]:
story = ""
while True:
    line = input("enter a line")
    if line == "end":
        break
    else:
        story += line + "\n"
print("You have written")
print(story)

You have written
Once upon a time
a family of 5 members
live near the mountains and the view of mountains is very beautifu

In [9]:
fruits = ["apple", "banana", "mango"]
for fruit in fruits:
    print("we have", fruit)
else:
    print("thats all")

we have apple
we have banana
we have mango
thats all

In [10]:
fruits = [" apple", "banana", "cherry", "stawberry", "pineapple"]

for fruit in fruits:
    print(fruit)
    if fruit == "cherry":
        break
else:
    print("all fruits are listed")

 apple
banana
cherry

In [11]:
number = int(input("enter a number"))
for i in range(2, number):
    if number % i == 0:
        print(f"{number} is not a prime number")
        break
    else:
        print(f"{number} is a 👑 prime number")

34 is not a prime number

In [ ]:
# wap a to add all numbers of the digit using while loop
# ex : 1234 becomes 10

In [12]:
names = ["Alice", "Bob", "Charlie", "berlin", "jennie", "kim taehyung"]
for name in names:
    print(name)

Alice
Bob
Charlie
berlin
jennie
kim taehyung

In [13]:
for i, name in enumerate(names):
    print(i, name, len(name))

0 Alice 5
1 Bob 3
2 Charlie 7
3 berlin 6
4 jennie 6
5 kim taehyung 12

In [14]:
alphas = ['a', 'b', 'c', 'd', 'e','f','i', 'j','k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y','z']

In [15]:
for i, al in enumerate(alphas):
    print(i, al)

0 a
1 b
2 c
3 d
4 e
5 f
6 i
7 j
8 k
9 l
10 m
11 n
12 o
13 p
14 q
15 r
16 s
17 t
18 u
19 v
20 w
21 x
22 y
23 z

In [16]:
for i, al in enumerate(alphas):  # 1st is always numericc and 2nd case is value
    print(al)

a
b
c
d
e
f
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [1]:
from string import ascii_lowercase     #ascii_lowercase means alphabets A to Z

In [2]:
print(ascii_lowercase)

abcdefghijklmnopqrstuvwxyz

In [3]:
for p , i in enumerate(ascii_lowercase):  #enumerate means counting p = position and i = item,,always 1st is numerical and 2nd case is value
    print(i)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [4]:
for p, i in enumerate(ascii_lowercase):
    print(i)
    if p == 10:
        break

a
b
c
d
e
f
g
h
i
j
k

In [5]:
fruits = ["apple", "banana", "cherry", "date", "eggplant"]
prices = [100.00, 40.00, 120.00, 200.00, 25.00]

In [6]:
for fr, pr in zip(fruits, prices):             #zip means = 
    print(f"{fr} costs {pr}")

apple costs 100.0
banana costs 40.0
cherry costs 120.0
date costs 200.0
eggplant costs 25.0

In [8]:
fruits = ["apple", "banana", "cherry", "date", "eggplant"]
prices = [100.00, 40.00, 120.00, 200.00, 25.00]
quantities = [12, 15, 100, 50, 3]

In [9]:
for fr, pr, qt in zip(fruits, prices, quantities):
    print(f' The cost of {qt} {fr} is {pr}rupees ')

 The cost of 12 apple is 100.0rupees
 The cost of 15 banana is 40.0rupees
 The cost of 100 cherry is 120.0rupees
 The cost of 50 date is 200.0rupees
 The cost of 3 eggplant is 25.0rupees

In [10]:
name = ["Alice", "Anni", "bob", "berlin", "Charlie", "chia"]
age = [21, 22, 27, 23, 20, 21]
weight = [50, 51, 55, 60, 56, 77]

In [15]:
for nm, ag, wt in zip(name, age, weight):
    print(f'{nm} - age {ag} and weight {wt}')

Alice - age 21 and weight 50
Anni - age 22 and weight 51
bob - age 27 and weight 55
berlin - age 23 and weight 60
Charlie - age 20 and weight 56
chia - age 21 and weight 77

In [16]:
from string import ascii_uppercase

In [17]:
print(ascii_uppercase)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [20]:
for p,i in enumerate(ascii_uppercase):
    print(i)
    if p == 7:
        break

A
B
C
D
E
F
G
H