In [12]:
# Set of integer

my_set = {1, 2, 3}
print(my_set)

{1, 2, 3}

In [13]:
# set of mixed datatypes

my_set = {1.0, "oye", (1, 2, 3)}
my_set

{(1, 2, 3), 1.0, 'oye'}

In [27]:
# set cannot have duplicates
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [28]:
# we cann make set from a list
my_set = set([1, 2, 3, 2])
print(my_set)

{1, 2, 3}

In [29]:
my_set = {1, 2 , 3, [3, 4]}
# set cannot have mutable items
# here [3, 4] is mutable list
# this will cause an error

TypeError: unhashable type: 'list'

In [30]:
# initialize a with set()
a = set()
print(type(a))

<class 'set'>

In [31]:
frnds = {"ramu", "Shamu", "lallan", "sallan","kallan"}
print(frnds)

{'Shamu', 'ramu', 'sallan', 'lallan', 'kallan'}

In [10]:
my_set = {1, 3}
print(my_set)

{1, 3}

In [3]:
my_set.add(2)
print(my_set)

{1, 2, 3}

In [4]:
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [11]:
my_set.update([4,5], {1, 6, 8})
print(my_set)

{1, 3, 4, 5, 6, 8}

In [5]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

{1, 3, 4, 5, 6}

In [6]:
my_set.discard(4)
print(my_set)

{1, 3, 5, 6}

In [7]:
my_set.remove(6)
print(my_set)

{1, 3, 5}

In [8]:
my_set.pop()
print(my_set)

{3, 5}

In [9]:
my_set.clear()
print(my_set)

set()

### Set Union

In [17]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

In [18]:
# use | operatore
print( A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
# use union function
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

### Set Intersection

In [20]:
# use & operators
print( A & B)

{4, 5}

In [21]:
A.intersection(B)

{4, 5}

### Set Difference

In [22]:
# use - operator on A
print(A - B)

{1, 2, 3}

In [23]:
A.difference(B)

{1, 2, 3}

In [24]:
B - A

{6, 7, 8}

### Set Symmetric Difference

In [25]:
# use ^ operator
print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [26]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [14]:
set1 = {"induction", "inverter", "AC"}
set2 = {"Fan", "washing machine", "electric bulb", "freeze"}
print(set1 | set2)

{'Fan', 'washing machine', 'electric bulb', 'AC', 'inverter', 'induction', 'freeze'}

In [15]:
set1.intersection(set2)                      #

set()

In [16]:
set1.difference(set2)                         # Set difference

{'AC', 'induction', 'inverter'}

In [32]:
books = set()
for i in range(5):
    books.add(input("Enter a book: "))
print(books)

{'Linear Algebra', 'partial differential order', 'Theory of operators', 'Operation research', 'fluid mechanics'}